 

#page .titre{ margin-left: 30px; font-size: 30px; }
#acces_page{ margin-left: 10px; float: left; display: inline; margin-left: 75px; }
	#acces_page div{ font-size: 25px;text-decoration: underline; }
	#acces_page a{ margin-left: 20px; font-size: 20px; }
	#acces_page a:hover{ text-decoration: underline; }
#parametre{  margin-left: 200px; }
#formParametre{ border-radius: 3px; font-size: 17px; margin: 10px; }
#page .messagePassword{ color: #b90000; font-size: 15px; }